@tailwind base;
@tailwind components;
@tailwind utilities;



/* Header Styles */
#heading {
    padding-left: 30vw;
    font-size:3vh;
    color: rgb(10, 160, 45);
    font-weight: 600;
    /* background-color: yellow; */
}

#header p{
    padding-left: 72vw;
    
}

#scroll{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    /* display: inline-block; */
    white-space: nowrap; 
    overflow-x:hidden ;
    overflow-y: hidden;
}
#scroll img{
    margin-left: 0%;
    /* display: none; */
    height: 80%;
    width: 14%;
    display: inline-block;
    border-radius: 25%;
    object-fit: cover;
    object-position: top;
    /* margin: 1vw;  */
    padding: 30px;
   
}
#scroll img:nth-child(5){
   object-fit:fill;
}
#scroll img:nth-child(3){
    object-fit:fill;
 }
 

#container{
    height: 120%;
    width: 140%;
    display: flex;
    /* background-color: blue; */
    display: inline-block;
    padding:2vw;    
    animation-name:anime;
    animation-duration:20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    object-fit: cover;
}

#imgContent{
    background-color: rgb(235, 246, 233);
    margin-top: 40px;
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 7vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #008000;
    padding: 10px;
}
#imgContent img{
    height: 80%;
    width: 50%;
    border-radius: 5%;
    /* margin-top: 2%;
    margin-left:4% */
    
}
#textArea{
    margin-top: 8%;
    text-align: center;
    margin-bottom: 15vh;
    /* padding: 10vh; */
}
#textArea h1{
    font-size: 5vh;
    font-weight: 600;
    /* margin-bottom: 8vh; */
}
#textArea h4{
    font-weight: 500;
    /* padding-left: 10%; */
}

#textArea button{
    margin-top: 3%;
    background-color: rgb(99, 228, 99);
    border-radius: 8%;
    padding:1%;
}
#textArea button:hover{
 margin: 12px;
  background-color: green;
   transition: 0.5s all ease;
}
#content{
    /* background-color: red; */
    padding: 40px;
}

#Cards{
    /* background-color: red; */
    height: 100%;
    width: 100%;
    position: relative;
    padding: 70px;
    padding-top: 100px;
}
#Cards h1{
    text-align: center;
    font-family: "Source Serif 4";
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 50px;
}
.box{       
    height: 320px;
    width: 320px;
    /* display: flex; */
    border-radius:10px;
    position: relative;
    border: 3px solid rgb(203, 238, 203);
    display: inline-block;
    margin: 20px;
    margin-left: 80px;
    overflow: hidden;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box-bottom{
    display: flex;
    height: 40%;
    background:linear-gradient(transparent,rgba(0, 0, 0, 0.51));
    width: 100%;
    bottom: -40%;
    position: absolute;
    transition: all ease 0.5s;;
    color:white;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.box:hover .box-bottom{
    bottom:0;
}

.box-bottom i{
    background-color: white;
    padding: 8px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50%;
}   
.box:hover{
    box-shadow: 0px 5px 50px rgb(178, 239, 178);
    transition: all ease 0.4s;
}



@keyframes anime{
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#glimpse {
    text-align: center; /* Centers text horizontally */
    margin-top: 10vh; /* Adds space from the top */
    color: black; /* Sets text color */
    font-size: 6vh; /* Sets font size */
    font-style: italic; /* Sets font style to italic */
}

#glimpse:hover {
    cursor: pointer; /* Changes cursor to pointer on hover */
    text-decoration-color: aquamarine; /* Sets text decoration color */
    color: rgb(10, 160, 45); ; /* Changes text color on hover */
    transition: 0.6s ease all;
}


@media (max-width:600px) {
    #heading {
        padding-top: 6vh;
        padding-right: 20vw;
        font-size:2vh;
        color: rgb(10, 160, 45);
        font-weight: 600;
        /* background-color: yellow; */
    }
    
    #header p{
        padding-left: 50vw;
        font-size: 1.4vh;
        
    }
    
#scroll {
    height: 20vh;
    width: 100%;
    white-space: nowrap; 
    overflow-x: hidden;
    overflow-y: hidden;
}

#scroll img {
    height: 80%;
    width: 16%;
    border-radius: 25%;
    object-fit: cover;
    object-position: top;
    margin: 1vw; 
    /* margin-right:5vw; */
    padding: 20px;
}

#container {
    /* Set width based on the number of images */
    width: 200%;
    height: 150%;
    display: inline-block;
    /* margin-bottom: 1000px; */
    padding: 2vw;    
    animation-name: anime;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
    
}





@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 346.8 77.2% 49.8%;
      --primary-foreground: 355.7 100% 97.3%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 346.8 77.2% 49.8%;
      --radius: 1rem;
    }
  
    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 0 0% 95%;
      --card: 24 9.8% 10%;
      --card-foreground: 0 0% 95%;
      --popover: 0 0% 9%;
      --popover-foreground: 0 0% 95%;
      --primary: 346.8 77.2% 49.8%;
      --primary-foreground: 355.7 100% 97.3%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 0 0% 15%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 346.8 77.2% 49.8%;
    }
  }


  .wrapper {
    margin-top: 2rem;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    height: 200px;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0)
    );
  }
 .itemLeft img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
 }
 .itemRight img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
 }
  
  @keyframes scrollLeft {
    to {
      left: -200px;
    }
  }
  
  @keyframes scrollRight {
    to {
      right: -200px;
    }
  }
  
  .itemLeft,
  .itemRight {
    width: 200px;
    height: 180px;
    /* background-color: #e11d48; */
    border-radius: 10px;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  
  .itemLeft {
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
  }
  
  .itemRight {
    right: max(calc(200px * 8), calc(100% + 200px));
    animation-name: scrollRight;
  }
  
  .item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
  }
  
  .item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
  }
  
  .item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
  }
  
  .item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
  }
  
  .item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
  }
  
  .item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
  }
  
  .item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
  }
  
  .item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
  }

  
/* Responsive Adjustments */
@media (max-width: 768px) {
    .wrapper {
      height: 150px;
    }
  
    .itemLeft,
    .itemRight {
      width: 150px;
      height: 130px;
    }
  
    .itemLeft {
      left: max(calc(150px * 8), 100%);
    }
  
    .itemRight {
      right: max(calc(150px * 8), calc(100% + 150px));
    }
  }
  
  @media (max-width: 480px) {
    .wrapper {
      height: 100px;
    }
  
    .itemLeft,
    .itemRight {
      width: 100px;
      height: 80px;
    }
  
    .itemLeft {
      left: max(calc(100px * 8), 100%);
    }
  
    .itemRight {
      right: max(calc(100px * 8), calc(100% + 100px));
    }

  }
  .scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
  }
  
  .scroll-content {
    display: flex;
    animation: scroll 30s linear infinite;
  }
  
  .scroll-content::after {
    content: "";
    display: flex;
    animation: scroll 30s linear infinite;
  }
  
  .scroll-content a {
    flex: 0 0 auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* For small devices */
  @media (max-width: 600px) {
    .scroll-content,
    .scroll-content::after {
      animation: scroll-small 1s linear infinite;
    }
  
    @keyframes scroll-small {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }
  