@tailwind base;
@tailwind components;
@tailwind utilities;



/* Header Styles */
#heading {
    padding-left: 30vw;
    font-size:3vh;
    color: rgb(10, 160, 45);
    font-weight: 600;
    /* background-color: yellow; */
}

#header p{
    padding-left: 72vw;
    
}

#scroll{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    /* display: inline-block; */
    white-space: nowrap; 
    overflow-x:hidden ;
    overflow-y: hidden;
}
#scroll img{
    margin-left: 0%;
    /* display: none; */
    height: 80%;
    width: 14%;
    display: inline-block;
    border-radius: 25%;
    object-fit: cover;
    object-position: top;
    /* margin: 1vw;  */
    padding: 30px;
   
}
/* #scroll img:nth-child(3){
    object-position: 0%;
} */

#container{
    height: 100%;
    width: 110%;
    display: flex;
    /* background-color: blue; */
    display: inline-block;
    padding:2vw;    
    animation-name:anime;
    animation-duration:20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anime{
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#glimpse {
    text-align: center; /* Centers text horizontally */
    margin-top: 10vh; /* Adds space from the top */
    color: black; /* Sets text color */
    font-size: 6vh; /* Sets font size */
    font-style: italic; /* Sets font style to italic */
}

#glimpse:hover {
    cursor: pointer; /* Changes cursor to pointer on hover */
    text-decoration-color: aquamarine; /* Sets text decoration color */
    color: rgb(10, 160, 45); ; /* Changes text color on hover */
    transition: 0.6s ease all;
}


@media (max-width:600px) {
    #heading {
        padding-top: 6vh;
        padding-right: 20vw;
        font-size:2vh;
        color: rgb(10, 160, 45);
        font-weight: 600;
        /* background-color: yellow; */
    }
    
    #header p{
        padding-left: 50vw;
        font-size: 1.4vh;
        
    }
    
#scroll {
    height: 20vh;
    width: 100%;
    white-space: nowrap; 
    overflow-x: hidden;
    overflow-y: hidden;
}

#scroll img {
    height: 80%;
    width: 16%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin: 1vw; 
    /* margin-right:5vw; */
    padding: 20px;
}

#container {
    /* Set width based on the number of images */
    width: 200%;
    height: 100%;
    display: inline-block;
    padding: 2vw;    
    animation-name: anime;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
    
}













































